h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: center;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: center;
    font-size: 20px;
}

button {
    font-family: "Arial";
    font-size: 20px;
    width: 300px;
    text-align: center;
    margin: 15px auto; 
    padding: 10px;
    box-shadow: 15px 15px 15px rgb(71, 70, 70);
    cursor: pointer;
    display: block;
    background: linear-gradient(135deg, #0d1b2a, #1a2a3a);
    color: white;
    border: 2px solid #ffce0c57;
    border-radius: 15px;
    transition: 0.3s ease, transform 0.2s ease;
}




main {
    display: flex;
    flex-direction: column;
    align-items: center;  
    justify-content: flex-start;  
    padding: 20px;
    background-color: #0000006e;
    border-radius: 0px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    width: 900px;
    margin: auto;
    text-align: justify;
    border: 2px solid #ffce0c57;
    border-radius: 12px;
}


button:hover {
    background: linear-gradient(135deg, #1a2a3a, #0d1b2a);
    transform: scale(1.05);
}

button:focus {
    outline: none;
    box-shadow: 0 0 8px rgba(13, 27, 42, 0.7);
}

#M{

text-align: center;


}

a {
    display: block;
    text-align: center;
    margin: 0 auto;
}

