h1{

    font-family:Arial, Helvetica, sans-serif;
    color: yellow;
    
    
    
}

h2{

    font-family: arial;
    color: yellow;
    font-size: 25px;


}

h3{

    font-family: arial;
    color: yellow;
    font-size: 25px;


}

h4{

    font-family: arial;
    color: yellow;
    font-size: 25px;


}

h5{

    font-family: arial;
    color: yellow;
 


}

h6{

    font-family: arial;
    color: yellow;
 


}

p{

    font-family: arial;
    color: yellow;
    font-size: 15px;



}

body{

    background-color:white;
    
}

main {
    background-color: #1d1c1c;
    border-radius: 10px; 
    box-shadow: 5px 5px 15px rgba(69, 92, 31, 0.5);
    width: 900px;
    padding: 10px;
    margin: auto;
    text-align: center;
}

a{

    color:  #1d1c1c;

}

div{

color: aliceblue;

}

#unique-image{

    border-radius: 8px; 

}

#E{

    font-family:Arial, Helvetica, sans-serif;
    color: yellow;
    font-size: 20px;

}