p {
    font-family: "Arial";
    color: blueviolet
}

h3 {
    text-align:center;
    color: black;
    font-family: "Arial";
}

body{
    background-color: white;


}
h1 {
    text-align:center;
    color: black;
    font-family: "Arial";
}
h2 {
    text-align:center;
    color: black;
    font-family: "Arial";
}
h4 {
    text-align:center;
    color: black;
    font-family: "Arial";
}
h5 {
    text-align:center;
    color: black;
    font-family: "Arial";
}
h6 {
    text-align:center;
    color: black;
    font-family: "Arial";
}